@tailwind base;
@tailwind components;
@tailwind utilities;

/* basic app wide styles */
html, body, #__next {
  height: 100%;
}
body {
  background-color: #f8fafc;
  color: #0f172a;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
